$sizeButton: 2.35rem;
$backgroundColor: rgb(197, 225, 229);

.task {
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  gap: 10px;
  background-color: $backgroundColor;
  min-height: 3rem;
  padding-top: 10px;
  margin: 10px;
}

.taskDone{
  background-color: rgb(197, 245, 200);
}

.text {
  text-align: left;
  font-size: 1.2rem;
  // background-color: ;
  overflow: auto;
  padding: 10px;
}

.btn {
  width: $sizeButton;
  height: $sizeButton;
  border-radius: 20%;
  background-color: rgb(29, 27, 162);
  color: white;
}

.btn:hover{
  background-color: $backgroundColor;
  color: black;
}