$colorBtn: rgb(43,108, 236);

.container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
}

.input {
  min-height: 3rem;
  min-width: 70%;
  border: 3px solid $colorBtn;
  border-radius: 10px;
}

.btn {
  color: white;
  font-size: 1.25rem;
  padding: 0 25px;
  background-color: $colorBtn;
  border-color: $colorBtn;
  border-radius: 20%;
}
